

body, html{

    background-color: black

}


.home_link1{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: transparent;
    box-sizing: border-box;
    padding: 40px;
    border: none;



}
.home_link2{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: transparent;
    box-sizing: border-box;
    padding: 40px;

    border: none;



}

.home_link1_a{
    color: #D43C31;
    border: none;
    text-decoration:none;
    animation: blinker 1s step-start infinite;

}
.home_link2_a{
    color: #31C9D4;
    border:none;
    text-decoration:none;
    animation: animate 1.5s linear infinite;

}
.link_text2{
    animation: animate 1s linear infinite;
}
.link_text1{
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}