*{
  margin: 0;
  padding: 0
}
#SvgjsG1489{
  color: #D43C31;
}

body, html{
  width: 100%;
  height: 100%;
  background-color: black

}
h2{
  color:darkgreen;
  font-size: 30px;
}
#root{
  width: 100%;
  height: 100%;
  background: rgb(87,9,116);
  background: linear-gradient(340deg, rgba(87,9,116,1) 48%, rgba(18,6,126,0.8323704481792717) 100%);
}
video{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  float: left;
  zIndex: -1;
  padding: 0;
  margin: 0;
}
.home_link1{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: transparent;
  box-sizing: border-box;
  padding: 40px;
  border: none;



}
.home_link2{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: transparent;
  box-sizing: border-box;
  padding: 40px;

  border: none;



}
.pagination{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: transparent;
  box-sizing: border-box;
  padding: 40px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.home_link1_a{
  color: #D43C31;
  border: none;
  text-decoration:none;
  animation: blinker 1s step-start infinite;

}
.home_link2_a{
  color: #31C9D4;
  border:none;
  text-decoration:none;
  animation: animate 1.5s linear infinite;

}
.link_text2{
  animation: animate 1s linear infinite;
}
.link_text1{
  animation: animate 1s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}